<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/portfolio">Writing</a></li>
        		<!-- <li><a href="/cv">Resume</a></li> -->
        		<!-- <li><a href="/blog">Blog</a></li> -->
    		</ul>
		</nav>
		<div class="container">
    		{{ content }}
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:hannahmargaretscott@gmail.com" style="text-decoration: none">email: hannahmargaretscott@gmail.com.</a></li>
        		<li><a href="https://www.are.na/hannah-scott-ki0b-utiktu"><img src="arena.jpg" alt="Are.na" style="width:23px;height:18px;text-decoration:none"></a></li>
			<li><a href="https://twitter.com/hannahskrrrt"><img src="twitter.png" alt="Twitter" style="width:21px;height:21px;"></a></li>
			</ul>
		</footer>
	</body>
</html>
